@keyframes tada {
    /* 设置对象的X,Y,Z的3D缩放分为1 */
    from {
        transform: scale3d(1, 1, 1);
    }

    /* 设置对象的X,Y,Z的3D缩放分为0.9，设置对象的Z轴的3D旋转为-3deg */
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    /* 设置对象的X,Y,Z的3D缩放分为1.1，设置对象的Z轴的3D旋转为3deg */
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    /* 设置对象的X,Y,Z的3D缩放分为1.1，设置对象的Z轴的3D旋转为-3deg */
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    /* 设置对象的X,Y,Z的3D缩放分为1 */
    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}
