.animated {
  animation-duration: 1s; /* 检索或设置对象动画的持续时间 */
  animation-fill-mode: both; /* 检索或设置对象动画时间之外的状态 */
}

.animated.infinite {
  animation-iteration-count: infinite; /* 检索或设置对象动画的循环次数 */
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}
